= form_with(model: @shop, local: true) do |f|
  .edit_image
    = f.label :images, '店舗画像'
    = f.file_field :images
  .edit_name
    = f.label :name
    = f.text_field :name
  .edit_address
    = f.label :address
    %br/
    = f.text_field :address
  .edit_submit
    = f.submit '登録'