= render 'layouts/search'
.shop
  - @shops.each do |shop|
    = link_to shop_path(shop) do
      .shop_list
        .shop_info
          .shop_info_image
            = image_tag shop.shop_image
          .shop_info_description
            %dl
              .shop_info_name.clearfix
                %dt 店舗名
                %dd= shop.name
              .shop_info_address.clearfix
                %dt 住所
                %dd= shop.address
              .shop_info_worktime.clearfix
                %dt 営業時間
                %dd= "平日#{shop.weekday_opentime}~#{shop.weekday_closetime}"
                %dd= "休日#{shop.weekend_opentime}~#{shop.weekend_closetime}"
              .shop_info_access.clearfix
                %dt アクセス
                %dd 〇〇駅から徒歩5分
              .shop_info_review.clearfix
                %dt レビュー
                %dd 星4つ
- if user_signed_in? && current_user.admin?
  .new_shop
    = link_to new_shop_path do
      %i.fas.fa-plus-square.fa-4x.fa-color