.shop#shop_show{ data: { shop_id: @shop.id } }
  .shop_detail
    .shop_detail_main
      - if user_signed_in? && current_user.admin?
        .shop_detail_main_edit
          %ul
            %li= link_to '編集', edit_shop_path(@shop)
            %li= link_to '削除', shop_path, data: { confirm: '削除しますか？', method: 'delete' }
      - elsif user_signed_in?
        .shop_detail_main_edit
          .favorite
            .with_favorited.hidden
              お気に入り解除
            .non_favorited.hidden
              お気に入り登録
      .shop_detail_name
        %h1= @shop.name
      .shop_detail_image
        - if @shop.images.attached?
          .slider-wrapper
            %ul.slider
              - @shop.images.each do |image| 
                %li.slider-item= image_tag image
            .prev-btn
            .next-btn
        - else
          = image_tag 'no-images.jpeg', class: 'no-image'
      #star_average.shop_detail_review
        %p= "口コミ（#{@shop.comments.count}件）"
      :javascript
        $('#star_average').raty({
          size     : 42,
          starOff:  '#{asset_path("star-off.png")}',
          starOn : '#{asset_path("star-on.png")}',
          starHalf: '#{asset_path("star-half.png")}',
          score: '#{@shop.comments.average(:star).to_f.round(1)}',
          readOnly: true,
          half: true,
        });

    .shop_detail_sub
      .shop_detail_sub_menu
        #shop_menus.shop_detail_sub_menu_el
          %p メニュー
        #shop_access.shop_detail_sub_menu_el
          %p アクセス
        #shop_comments.shop_detail_sub_menu_el
          %p クチコミ
      .shop_detail_description
        = render 'shops/menu'
        = render 'shops/access'
        = render 'shops/comment'
= javascript_pack_tag 'shop'
