.search
  = search_form_for @q, url: search_shops_path do |f|
    .search_method
      = f.label :genre_name_or_area_name_or_name_or_address_cont, 'フリーワード検索', class: 'search_method_el selected', id: 'search_free'
      = f.label :address_cont, 'エリア/ジャンルから探す', class: 'search_method_el', id: 'search_select'
    .search_field
      #search_input_free.search_field_input
        = f.search_field :genre_name_or_area_name_or_name_or_address_cont, placeholder: 'キーワード', class: 'search_field_input_form'
      #search_input_select.search_field_select.hidden
        = f.collection_select :area_id_eq, @areas, :id, :name, :include_blank => '東京全域', class: 'search_field_input_area'
        = f.collection_select :genre_id_eq, @genres, :id, :name, :include_blank => '全ジャンル', class: 'search_field_input_genre'
      .search_field_submit
        = f.submit '検索', class: 'search_btn'
= javascript_pack_tag 'search'
