!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MyappProt
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    %link{:href => "https://use.fontawesome.com/releases/v5.6.3/css/all.css", :rel => "stylesheet"}/
    = include_gon
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_pack_tag 'application'
    = favicon_link_tag(source='favicon.ico')
  %body
    = render 'layouts/header'
    - if current_page?(root_path)
      = render 'layouts/top'
      .container_top
        - if flash.present?
          = render 'layouts/notice'
        = yield

    - else
      .container
        - if flash.present?
          = render 'layouts/notice'
        = yield
